<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%highlight{[PE:%-20t] =======> %-35c %-180m [PID:%-8r][%-20t] [%-p] %d %x- %n}"/>
        </Console>
    </Appenders>
    <loggers>
        <Logger name="org.apache.log4j.xml" level="info"/>
        <root level="info">
            <appender-ref ref="STDOUT"/>
        </root>
    </loggers>
</Configuration>
